In [35]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [36]:
import pandas as pd
pandas_df = pd.read_csv("WorldBank_GDP_Ranking_by_Country_Dec2023.csv")

In [37]:
#pandas_df

In [44]:
# enabling the Apache Arrow for converting
# Pandas to PySpark data-frame
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [39]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

mySchema = StructType([ StructField("Country", StringType(), True)\
                       ,StructField("Country", StringType(), True)\
                       ,StructField("Ranking", IntegerType(), True)])

In [40]:
#Create PySpark DataFrame from Pandas
spark_df=spark.createDataFrame(pandas_df, mySchema)

In [41]:
spark_df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ranking: integer (nullable = true)

In [42]:
spark_df.show()

+------------------+----------+-------+
|           Country|   Country|Ranking|
+------------------+----------+-------+
|     United States|25,439,700|      1|
|             China|17,963,171|      2|
|             Japan| 4,232,174|      3|
|           Germany| 4,082,469|      4|
|             India| 3,416,646|      5|
|    United Kingdom| 3,089,073|      6|
|            France| 2,779,092|      7|
|Russian Federation| 2,240,422|      8|
|            Canada| 2,137,939|      9|
|             Italy| 2,049,737|     10|
|            Brazil| 1,920,096|     11|
|         Australia| 1,692,957|     12|
|       Korea, Rep.| 1,673,916|     13|
|            Mexico| 1,465,854|     14|
|             Spain| 1,417,800|     15|
|         Indonesia| 1,319,100|     16|
|      Saudi Arabia| 1,108,572|     17|
|       Netherlands| 1,009,399|     18|
|           Türkiye|   907,118|     19|
|       Switzerland|   818,427|     20|
+------------------+----------+-------+
only showing top 20 rows

In [43]:
spark_df.toPandas()

              Country     Country  Ranking
0       United States  25,439,700        1
1               China  17,963,171        2
2               Japan   4,232,174        3
3             Germany   4,082,469        4
4               India   3,416,646        5
..                ...         ...      ...
205  Marshall Islands         259      206
206             Palau         233      207
207          Kiribati         223      208
208             Nauru         152      209
209            Tuvalu          59      210

[210 rows x 3 columns]