# Create Spark Session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .appName("TestApp")\
        .getOrCreate()

# Read data and get spark temp view

In [2]:
df1 = spark.read.csv('Group_1.csv', header=True, inferSchema=True)
df2 = spark.read.csv('Group_2.csv', header=True, inferSchema=True)
df1.createOrReplaceTempView('Group_1_txt')
df2.createOrReplaceTempView('Group_2_txt')

# Write SQL Query

In [3]:
statement = """
with Group1_Enrich as (
select 
  PersonID, 
  float(Height_CM) as Height, 
  date(DOB) as BirthDate
from group_1_txt
),
Group2_Enrich as (
select 
  PersonID, 
  float(Height_CM) as Height, 
  date(DOB) as BirthDate
from group_2_txt
),

Group1_Min_BirthDate as (
select 
    min(BirthDate) as Birth_Date,
    'Group1' as GroupName,
    first(PersonID) as PersonID,
    first(Height) as Height,
    'Eldest' as Remarks
from Group1_Enrich
),
Group1_Max_Height as (
select 
  first(BirthDate) as Birth_Date,
  'Group1' as GroupName,
  first(PersonID) as PersonID,
  max(Height) as Height,
  'Tallest' as Remarks
from Group1_Enrich
),
Group2_Min_BirthDate as (
select 
   min(BirthDate) as Birth_Date,
   'Group2' as GroupName,
   first(PersonID) as PersonID,
   first(Height) as Height,
   'Eldest' as Remarks
 from Group2_Enrich
),
Group2_Max_Height as (
select 
  first(BirthDate) as Birth_Date,
  'Group2' as GroupName,
  first(PersonID) as PersonID,
  max(Height) as Height,
  'Tallest' as Remarks
  from Group2_Enrich
)

---- Return the final result 
select 
*
from 
 Group1_Min_BirthDate
union all
select 
*
from 
  Group1_Max_Height
union all
select 
*
from 
  Group2_Min_BirthDate
union all
select 
*
from   
  Group2_Max_Height


"""

# Execute SQL Query

In [4]:
df = spark.sql(statement)

In [5]:
df.show()

+----------+---------+--------+------+-------+
|Birth_Date|GroupName|PersonID|Height|Remarks|
+----------+---------+--------+------+-------+
|1963-09-03|   Group1|   14521| 160.0| Eldest|
|1963-09-03|   Group1|   14521| 175.0|Tallest|
|1981-02-12|   Group2|   14521| 166.0| Eldest|
|1991-03-09|   Group2|   14521| 175.0|Tallest|
+----------+---------+--------+------+-------+