# Create Spark Session

In [23]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .appName("TestApp")\
        .getOrCreate()

# Read data and get spark temp view

In [24]:
df = spark.read.csv('WorldBank_GDP_Ranking_by_Country_Dec2023.csv', header=True, inferSchema=True)
df.createOrReplaceTempView('GDP_Ranking')

# Write SQL Query

In [25]:
statement = """
SELECT * FROM GDP_Ranking
"""

# Execute SQL Query

In [26]:
df = spark.sql(statement)

In [27]:
df.show()

+------------------+-----------+-------+
|           Country|MillionsUSD|Ranking|
+------------------+-----------+-------+
|     United States| 25,439,700|      1|
|             China| 17,963,171|      2|
|             Japan|  4,232,174|      3|
|           Germany|  4,082,469|      4|
|             India|  3,416,646|      5|
|    United Kingdom|  3,089,073|      6|
|            France|  2,779,092|      7|
|Russian Federation|  2,240,422|      8|
|            Canada|  2,137,939|      9|
|             Italy|  2,049,737|     10|
|            Brazil|  1,920,096|     11|
|         Australia|  1,692,957|     12|
|       Korea, Rep.|  1,673,916|     13|
|            Mexico|  1,465,854|     14|
|             Spain|  1,417,800|     15|
|         Indonesia|  1,319,100|     16|
|      Saudi Arabia|  1,108,572|     17|
|       Netherlands|  1,009,399|     18|
|           TÃ¼rkiye|    907,118|     19|
|       Switzerland|    818,427|     20|
+------------------+-----------+-------+
only showing top 20 rows